<nz-layout>
  <nz-header>
    <div class="logo">
      <h4 nz-typography>Flying Donkey</h4>
    </div>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-sider nzWidth="200px">
        <ul nz-menu class="sider-menu" (nzClick)="changeRoute">
          <li nz-menu-item nzSelected>
            <a [routerLink]="['/','upload']">Upload</a>
          </li>
          <li nz-menu-item>
            <a [routerLink]="['/','files']">Files</a>
          </li>
        </ul>
      </nz-sider>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-content>
  <nz-footer>Implement By Alex Zhao</nz-footer>
</nz-layout>